
{% extends 'tracker/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="flex items-center justify-center p-6 rounded-xl bg-gradient-to-r from-purple-700 to-sky-400" style="width: 60%; margin-left:20%; margin-top:3%; padding: 7%">
    {% comment %} <div class="bg-white p-10 rounded-xl shadow-2xl w-96"> {% endcomment %}
    <div class="bg-sky-100 bg-opacity-20 backdrop-blur-lg rounded-3xl shadow-2xl p-10 w-96">
        <h2 class="text-3xl font-bold mb-8 text-center text-gray-800">Log In</h2>

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-6">
                <input type="text" id="username" name="username" placeholder="Username" 
                    class="w-full px-4 py-3 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 text-gray-800 placeholder-gray-500">
            </div>
            <div class="mb-8">
                <input type="password" id="password" name="password" placeholder="Password" 
                    class="w-full px-4 py-3 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 text-gray-800 placeholder-gray-500">
            </div>
            <button type="submit" class="w-full py-3 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 transition">Log In</button>
        </form>
    </div>
</div>


{% endblock %} 





